.expenses {
  padding: 1rem;
  background-color: rgb(27, 26, 26);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  transition: background 0.2s linear;
}
.dark-card{
  padding: 1rem;
  background-color: rgb(219, 208, 208);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  transition: background 0.2s linear;
  

}

.header-style{
  color:white;
  display:flex;
  justify-content:center;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif;

}
.dark-header{
  color:black;
  display:flex;
  justify-content:center;
  align-items: center;
  font-family:Arial, Helvetica, sans-serif
}